.single-events {
  .post {
    width: 86%;
    margin: 0 auto;
  }

  .post-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .post-thumbnail {
    img {
      width: 600px;
      margin: 0 auto 1rem;
      display: block;
    }
  }
}
